/.DS_Store
/.vscode
/Assembly-CSharp.csproj
/Goof 3!.sln
/Goof 3!_BurstDebugInformation_DoNotShip
/Library
/Logs
/Tayx.Graphy.Customization.csproj
/Tayx.Graphy.Editor.csproj
/Tayx.Graphy.csproj
/Temp
/UserSettings